* {
  box-sizing: border-box;
  transition-duration: 0.25s;
}

*:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

*:not(h1, h2, h3, h4, h5, h6, pre, code, kbd) {
  font-family: inherit;
  font-size: inherit;
}
