@use "../../utils/vars";
@use "../../utils/mixins";

@mixin use($rtl: false) {
  blockquote {
    @include mixins.dark-light(true);

    margin: 0;
    padding: 20px;

    @if $rtl {
      border-top-left-radius: vars.$border-radius;
      border-bottom-left-radius: vars.$border-radius;
      border-right: 10px solid vars.$dark-alt;
    } @else {
      border-top-right-radius: vars.$border-radius;
      border-bottom-right-radius: vars.$border-radius;
      border-left: 10px solid vars.$dark-alt;
    }
  }
}
